.day {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
}
.image {
  margin-top: 15px;
  margin-bottom: 15px;
}
.high-low {
  display: flex;
  gap: 15px;
}
.high {
  color: #222;
}
