* {
  margin: 0;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: #777;
  border: solid #ccc 2px;
  width: fit-content;
  margin: 100px auto;
}
